.env

# Backend
.idea
.make
target
*.iml
dependency-reduced-pom.xml

# Frontend
frontend/node_modules
frontend/dist
frontend/build
frontend/.env*
.vscode
.eslintcache

# download/upload leftovers
/**/backend/iso-639-3.tab

# Macos
.DS_Store
