.env

# OS/IDE
.idea
*.iml
.vscode
.DS_Store

# Backend
.make
target
dependency-reduced-pom.xml
/**/backend/iso-639-3.tab

# Frontend
frontend/node_modules
frontend/dist
frontend/build
frontend/.env*
.eslintcache
coverage/

